article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  overflow-x: overlay;
  overflow-y: overlay;
}
.wrap-v2 {
  position: absolute;
  left: 160px;
  width: calc(100vw - 160px);
}
.content {
  position: absolute;
  left: 160px;
  width: calc(100vw - 160px);
  top: 54px;
  margin: 20px;
  margin-bottom: 0;
}
